<!DOCTYPE html> 
<html>
<head>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>
    <script src="js/models.js"></script>
    <script src="js/mv2.js"></script>
</head>
<body>
    <header>
        <h1>mv2 fun for all</h1>
    </header>
    <div id="app">
        <form>
            <input id="toAdd" placeholder="link a vid" type="text"/>
        </form>
        <div id="videos"></div>
    </div>
    <script type="text/template" id="video-template">
        <object width="200" height="113"><param name="movie" value="http://www.youtube.com/v/<%= youtubeId %>?version=3&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/<%= youtubeId %>?version=3&amp;hl=en_US" type="application/x-shockwave-flash" width="200" height="113" allowscriptaccess="always" allowfullscreen="true"></embed></object>
    </script>
    </body>
</html>
